.App {
  text-align: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.widget1-10 {
  
  margin: 50px;
  color: #fff;
  width: 20%;
  height: 20%;
  background-color: #e5b02c;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 26px;
  display: flex;
}
.flex-container1 {
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 8px;
  margin-left: 3px;
  font-size: 1.063rem;
  display: flex;
}

.dots1 {
  width: 17px;
  height: 6px;
  object-fit: cover;
  margin-bottom: 1px;
}

.background1 {
  color: #b5b5c3;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  flex-basis: 71%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 1px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
}

.flex-container1-1 {
  width: 70%;
  flex-direction: row;
  flex-basis: 7%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 6px;
  line-height: 18px;
  display: flex;
}

.quantity-g1 {
  align-self: flex-end;
}

.flex-container1-2 {
  color: #464e5f;
  width: 70%;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
}

.num-4500 {
  align-self: flex-start;
}

.num-56543-g {
  line-height: 26px;
}

.flex-container1-3 {
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  line-height: 18px;
  display: flex;
}

.flex-container1-4 {
  color: #464e5f;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 11px;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
}

@media (max-width: 768px) {
  .widget1-10 {
    width: 50%;
    height: 30%;
    margin: 20px;
    font-size: 1rem;
    line-height: 22px;
  }

  .flex-container1 {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    font-size: 0.938rem;
  }

  .background1 {
    flex-direction: column;
    flex-basis: auto;
    padding: 15px;
    line-height: 24px;
  }

  .flex-container1-1 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 16px;
  }

  .quantity-g1 {
    align-self: center;
  }

  .flex-container1-2 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .num-4500 {
    align-self: center;
  }

  .num-56543-g {
    line-height: 20px;
  }

  .flex-container1-3 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 16px;
  }

  .flex-container1-4 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
  }
}


.widget-8 {
  color: #464e5f;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 8px;
  padding-left: 1px;
  padding-right: 30px;
  font-family: Poppins, Arial;
  font-size: .875rem;
  font-weight: 600;
  line-height: 21px;
  display: flex;
}

.flex-container {
  color: #212121;
  width: 95%;
  flex-direction: row;
  flex-basis: 7%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: 6px;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
}

.flex-container-1 {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 360px;
  display: flex;
}

.flex-container-2 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.dots {
  width: 17px;
  height: 6px;
  object-fit: cover;
  margin-bottom: 2px;
}

.num-20-goals-created {
  color: #b5b5c3;
  font-size: .75rem;
}

.button {
  color: #fff;
  height: 90%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 203px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.background {
  height: 100%;
  background-color: #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-right: 1px;
  display: flex;
}

.export {
  margin-top: 1px;
}

.button-1 {
  color: #fff;
  height: 90%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 7%;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.background-1 {
  height: 100%;
  background-color: #57b0ba;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  display: flex;
}

.col-titles-bg {
  color: #b5b5c3;
  width: 95%;
  background-color: #f5f8fa;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  margin-bottom: 4px;
  padding-top: 1px;
  padding-right: 80px;
  font-size: .75rem;
  line-height: 18px;
  display: flex;
}

.user {
  color: #464e5f;
}

.flex-container-3 {
  height: 25%;
  flex-direction: column;
  flex-basis: 1%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 49px;
  display: flex;
}

.ellipse-294 {
  width: 7px;
  height: 7px;
  object-fit: cover;
  border: 1px solid #e5b02c;
  align-self: flex-start;
  margin-bottom: -2px;
}

.line-134 {
  z-index: 1;
  width: 3px;
  height: 3px;
  object-fit: cover;
}

.value {
  margin-left: 163px;
}

.flex-container-4 {
  height: 25%;
  flex-direction: column;
  flex-basis: 1%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2px;
  display: flex;
}

.ellipse-293 {
  width: 7px;
  height: 7px;
  object-fit: cover;
  border: 1px solid #e5b02c;
  align-self: flex-start;
  margin-bottom: -2px;
}

.line-133 {
  z-index: 1;
  width: 3px;
  height: 3px;
  object-fit: cover;
}

.last-qty-g {
  margin-left: 57px;
}

.flex-container-5 {
  height: 25%;
  flex-direction: column;
  flex-basis: 1%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2px;
  display: flex;
}

.ellipse-292 {
  width: 7px;
  height: 7px;
  object-fit: cover;
  border: 1px solid #e5b02c;
  align-self: flex-start;
  margin-bottom: -2px;
}

.line-132 {
  z-index: 1;
  width: 3px;
  height: 3px;
  object-fit: cover;
}

.method {
  margin-bottom: 1px;
  margin-left: 29px;
}

.flex-container-6 {
  height: 25%;
  flex-direction: column;
  flex-basis: 1%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2px;
  display: flex;
}

.ellipse-291 {
  width: 7px;
  height: 7px;
  object-fit: cover;
  border: 1px solid #e5b02c;
  align-self: flex-start;
  margin-bottom: -2px;
}

.line-131 {
  z-index: 1;
  width: 3px;
  height: 3px;
  object-fit: cover;
}

.order-type {
  margin-top: 1px;
  margin-left: 93px;
}

.flex-container-7 {
  height: 25%;
  flex-direction: column;
  flex-basis: 1%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
  display: flex;
}

.ellipse-29 {
  width: 7px;
  height: 7px;
  object-fit: cover;
  border: 1px solid #e5b02c;
  align-self: flex-start;
  margin-bottom: -2px;
}

.line-13 {
  z-index: 1;
  width: 3px;
  height: 3px;
  object-fit: cover;
}

.flex-container-8 {
  color: #b5b5c3;
  width: 95%;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: 2px;
  margin-left: 1px;
  display: flex;
}

.flex-container-9 {
  color: #464e5f;
  height: 100%;
  flex-direction: column;
  flex-basis: 4%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: 36px;
  display: flex;
}

.rectangle-173 {
  z-index: 1;
  width: 100%;
  background-color: #f5f8fa;
  border: 1px solid #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 94%;
  justify-content: center;
  align-items: center;
  margin-bottom: -37px;
  padding-bottom: 1px;
  display: flex;
}

.avatar {
  width: 80%;
  flex-direction: row;
  flex-basis: 75%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.boy {
  height: 100%;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.flex-container-10 {
  height: 70%;
  flex-direction: column;
  flex-basis: 10%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  font-size: .813rem;
  line-height: 20px;
  display: flex;
}

.meeren-raniga {
  color: #464e5f;
  align-self: flex-end;
  font-size: .875rem;
  line-height: 21px;
}

.android {
  font-weight: 500;
}

.flex-container-11 {
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-left: 76px;
  font-size: .813rem;
  font-weight: 500;
  line-height: 20px;
  display: flex;
}

.num-15000 {
  color: #464e5f;
  font-size: .875rem;
  font-weight: 600;
  line-height: 21px;
}

.num-34544-g {
  color: #464e5f;
  margin-bottom: 8px;
}

.flex-container-12 {
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  margin-left: 23px;
  font-weight: 500;
  display: flex;
}

.apple-pay {
  color: #464e5f;
  font-weight: 600;
}

.high-risk {
  margin-left: 1px;
  font-size: .813rem;
  line-height: 20px;
}

.flex-container-13 {
  height: 75%;
  flex-direction: column;
  flex-basis: 9%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-left: 50px;
  font-weight: 500;
  display: flex;
}

.recurring-buy {
  color: #464e5f;
  align-self: flex-end;
  font-weight: 600;
}

.daily {
  font-size: .813rem;
  line-height: 20px;
}

.col-6 {
  color: #fff;
  height: 65%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 2px;
  margin-left: 5px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.background-2 {
  height: 100%;
  background-color: #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  display: flex;
}

.flex-container-14 {
  width: 95%;
  flex-direction: row;
  flex-basis: 11%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-left: 1px;
  display: flex;
}

.flex-container-15 {
  height: 100%;
  flex-direction: column;
  flex-basis: 4%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: 36px;
  display: flex;
}

.rectangle-173-1 {
  z-index: 1;
  width: 100%;
  background-color: #f5f8fa;
  border: 1px solid #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 89%;
  justify-content: center;
  align-items: center;
  margin-bottom: -34px;
  padding-top: 2px;
  padding-left: 1px;
  display: flex;
}

.sv {
  margin-top: 1px;
  margin-left: 1px;
}

.avatar-1 {
  width: 80%;
  flex-direction: row;
  flex-basis: 71%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.girl-16 {
  height: 100%;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.flex-container-16 {
  color: #b5b5c3;
  height: 65%;
  flex-direction: column;
  flex-basis: 9%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  font-weight: 500;
  display: flex;
}

.shyam-vikram {
  color: #464e5f;
  align-self: flex-end;
  font-weight: 600;
}

.android-1 {
  font-size: .813rem;
  line-height: 20px;
}

.flex-container-17 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-left: 78px;
  font-weight: 500;
  display: flex;
}

.num-23000000 {
  font-weight: 600;
}

.fixed-fee-25000 {
  color: #b5b5c3;
  font-size: .813rem;
  line-height: 20px;
}

.num-42343-g {
  margin-bottom: 7px;
}

.flex-container-18 {
  color: #b5b5c3;
  height: 65%;
  flex-direction: column;
  flex-basis: 5%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  margin-left: 27px;
  font-size: .813rem;
  line-height: 20px;
  display: flex;
}

.card {
  color: #464e5f;
  font-size: .875rem;
  line-height: 21px;
}

.low-risk {
  align-self: flex-end;
  font-weight: 500;
}

.flex-container-19 {
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 3px;
  margin-left: 69px;
  font-size: .813rem;
  line-height: 20px;
  display: flex;
}

.recurring-buy-1 {
  margin-left: 1px;
  font-size: .875rem;
  line-height: 21px;
}

.num-17-th-of-every-mon {
  color: #b5b5c3;
  font-weight: 500;
}

.button-2 {
  color: #fff;
  height: 65%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 6px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.background-3 {
  height: 100%;
  background-color: #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  display: flex;
}

.flex-container-20 {
  width: 95%;
  flex-direction: row;
  flex-basis: 11%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 1px;
  display: flex;
}

.rectangle-173-2 {
  height: 95%;
  background-color: #f5f8fa;
  border: 1px solid #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  font-size: 1.5rem;
  line-height: 36px;
  display: flex;
}

.pr {
  margin-left: 1px;
}

.flex-container-21 {
  color: #b5b5c3;
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5px;
  display: flex;
}

.priyen-raniga {
  color: #464e5f;
}

.ios {
  font-size: .813rem;
  font-weight: 500;
  line-height: 20px;
}

.flex-container-22 {
  color: #b5b5c3;
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 4px;
  margin-left: 82px;
  font-size: .813rem;
  font-weight: 500;
  line-height: 20px;
  display: flex;
}

.num-54000 {
  color: #464e5f;
  font-size: .875rem;
  font-weight: 600;
  line-height: 21px;
}

.num-10456-g {
  margin-bottom: 5px;
}

.flex-container-23 {
  color: #b5b5c3;
  height: 65%;
  flex-direction: column;
  flex-basis: 5%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 6px;
  margin-left: 25px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
}

.card-1 {
  color: #464e5f;
  font-weight: 600;
  line-height: 21px;
}

.low-risk-1 {
  align-self: flex-end;
  font-size: .813rem;
}

.flex-container-24 {
  height: 80%;
  flex-direction: column;
  flex-basis: 11%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-left: 62px;
  font-size: .813rem;
  font-weight: 500;
  display: flex;
}

.flex-container-25 {
  width: 85%;
  flex-direction: row;
  flex-basis: 47%;
  justify-content: space-between;
  align-items: flex-end;
  font-size: .875rem;
  font-weight: 600;
  display: flex;
}

.item-3 {
  height: 85%;
  flex-direction: row;
  flex-basis: 75%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  margin-right: -207px;
  display: flex;
}

.star {
  height: 100%;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 60px;
  margin-right: -47px;
  display: flex;
}

.star-1 {
  height: 100%;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 15px;
  margin-right: -71px;
  display: flex;
}

.star-2 {
  height: 100%;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 30px;
  margin-right: -66px;
  display: flex;
}

.star-3 {
  height: 100%;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 17px;
  margin-right: -92px;
  display: flex;
}

.star-4 {
  height: 100%;
  flex-direction: row;
  flex-basis: 22%;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 24px;
  display: flex;
}

.recurring-buy-2 {
  z-index: 1;
}

.weekly-on-sunday {
  color: #b5b5c3;
  align-self: flex-end;
  line-height: 20px;
}

.background-4 {
  color: #fff;
  height: 65%;
  background-color: #e5b02c;
  border: none;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 1px;
  padding-right: 1px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.flex-container-26 {
  width: 95%;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-top: 1px;
  margin-left: 1px;
  font-size: .813rem;
  display: flex;
}

.rectangle-173-3 {
  height: 100%;
  background-color: #f5f8fa;
  border: 1px solid #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 4%;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  font-size: 1.5rem;
  line-height: 36px;
  display: flex;
}

.ac {
  margin-top: 1px;
}

.flex-container-27 {
  color: #b5b5c3;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  display: flex;
}

.abhishek-chakram {
  color: #464e5f;
  font-size: .875rem;
}

.ios-1 {
  margin-left: 1px;
  font-weight: 500;
  line-height: 20px;
}

.flex-container-28 {
  color: #b5b5c3;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-left: 57px;
  font-weight: 500;
  display: flex;
}

.num-500000 {
  color: #464e5f;
  font-size: .875rem;
  font-weight: 600;
}

.fixed-fee-5500 {
  line-height: 20px;
}

.num-100000-g {
  margin-bottom: 7px;
  font-size: .875rem;
}

.flex-container-29 {
  color: #b5b5c3;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-left: 25px;
  font-weight: 500;
  display: flex;
}

.barclays {
  color: #464e5f;
  font-size: .875rem;
  font-weight: 600;
}

.medium-risk {
  line-height: 20px;
}

.flex-container-30 {
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 2px;
  margin-left: 44px;
  font-size: .875rem;
  line-height: 20px;
  display: flex;
}

.recurring-buy-3 {
  margin-left: 2px;
  line-height: 21px;
}

.weekly-on-sunday-1 {
  color: #b5b5c3;
  font-size: .813rem;
  font-weight: 500;
}

.button-3 {
  color: #fff;
  height: 70%;
  background-color: #0000;
  border: none;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: stretch;
  margin-bottom: 3px;
  font-family: Poppins, Arial;
  font-size: .75rem;
  font-weight: 600;
  line-height: 18px;
  display: flex;
}

.background-5 {
  height: 100%;
  background-color: #e5b02c;
  border-radius: 6px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  display: flex;
}

.flex-container-31 {
  color: #000;
  width: 15%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  font-size: .75rem;
  line-height: 18px;
  display: flex;
}

.path-18 {
  width: 11px;
  height: 23px;
  object-fit: cover;
  border: 2px solid #e5b02c;
  margin-right: 4px;
}

.rectangle-31 {
  height: 90%;
  background-color: #f3f6f9;
  border: 1px solid #e5b02c;
  border-radius: 4px;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  margin-left: 1px;
  padding-right: 1px;
  display: flex;
}

.rectangle-31-1 {
  height: 90%;
  background-color: #f3f6f9;
  border-radius: 4px;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  display: flex;
}

.rectangle-31-2 {
  height: 90%;
  background-color: #f3f6f9;
  border-radius: 4px;
  flex-direction: row;
  flex-basis: 13%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  padding-top: 1px;
  display: flex;
}

.wadrsuiynqvtp {
  margin-top: 5px;
}

.num-100 {
  margin-bottom: 1px;
  margin-left: 3px;
}

.path-19 {
  width: 11px;
  height: 23px;
  object-fit: cover;
  border: 2px solid #e5b02c;
}
